*{
box-sizing: border-box;
margin: 0;
padding: 0;

}
body{
  background: #fbfbfb;
}
.wrapper{
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 10px;

}

.item{
  background-size: cover;
  background-position: center;

  padding: 10px;
}

.item1{

  background-image: url(cow1.jpg);
}
.item2{

  background-image: url(cow2.jpg);
}
.item3{

  background-image: url(cow10.jpg);
}

.item4{

  background-image: url(cow12.jpg);
}

.item5{

  background-image: url(cow13.png);
}
.item6{

  background-image: url(cow3.jpg);
}
.item7{

  background-image: url(cow9.jpg);
}
.item8{
  background-image: url(cow8.jpg);
}